<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%if(customData.imgbg_on == 1){%>
    <body style="background: <%=customData.imgbg%>; background-size: cover;">
<%}%>
<%if(customData.imgbg_on == 0){%>
    <body style="background-color: <%=customData.colbg%>;">
<%}%>
<body onload="setMonth(), setYear(), setDay()">
<!--This page requires some data to be provided, namely the userEvents list that is all of the user's events-->
<main>

<!--
  <div class="container" id="calendar">
    <table class="table">
    <button type="button" class="btn btn-outline-primary" onclick="updateWeek(0)"> < </button>
    <button type="button" class="btn btn-outline-primary" onclick="updateWeek(1)"> > </button>
      <thead>
          <tr>
              <th scope="col">Sun</th>
              <th scope="col">Mon</th>
              <th scope="col">Tue</th>
              <th scope="col">Wed</th>
              <th scope="col">Thr</th>
              <th scope="col">Fri</th>
              <th scope="col">Sat</th>
          </tr>
      </thead>
      <tbody>
        <% userEvents.forEach(function(event) { %>
          <form>
            <tr>
              <% let d = new Date(event.eventtime); %>
              <% let eDay = d.getDay() %>
              <% let eDate = d.getDate() %>
              <% let cDay = new Date().getDay() %>
              <% let cDate = new Date().getDate() %>
              <% let cMonth = new Date().getMonth() %>
              <% let cYear = new Date().getFullYear() %>
        
              <%if(eDate >= (cDate-cDay) && eDate <= (cDate-cDay+6)){%>

              
              <% if (eDay == 0) { %>
                <td><%= event.eventname %></td>
              <% } else { %>
                <td></td>
              <% } %>
              <% if (eDay == 1) { %>
                <td><%= event.eventname %></td>
              <% } else { %>
                <td></td>
              <% } %>
              <% if (eDay == 2) { %>
                <td><%= event.eventname %></td>
              <% } else { %>
                <td></td>
              <% } %>
              <% if (eDay == 3) { %>
                <td><%= event.eventname %></td>
              <% } else { %>
                <td></td>
              <% } %>
              <% if (eDay == 4) { %>
                <td><%= event.eventname %></td>
              <% } else { %>
                <td></td>
              <% } %>
              <% if (eDay == 5) { %>
                <td><%= event.eventname %></td>
              <% } else { %>
                <td></td>
              <% } %>
              <% if (eDay == 6) { %>
                <td><%= event.eventname %></td>
              <% } else { %>
                <td></td>
              <% } %>

            <%}%>
            </tr>
          </form>
        <% }); %>
      </tbody>
    </table>
  </div>
  -->
<script> 
    const monthNames = ['January', 'Febuary', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'];
    const monthLengths = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30 ,31];

    function setMonth()
    {
        let d = new Date().getMonth();
        document.getElementById("myMonth").innerHTML = monthNames[d];
        document.getElementById("myMonth").value = d;
    }

    function setYear()
    {
        let y = new Date().getFullYear();
        document.getElementById("myYear").innerHTML = y;
        document.getElementById("myYear").value = y;
    }

    function setDay()
    {
        var y = document.getElementById("myYear").value;
        var m = document.getElementById("myMonth").value;
        let d = new Date(y,m,1).getDay();
        let d2 = new Date(y, m, monthLengths[m]).getDate();

        <!-- reset the visibility -->
        for(var i = 0; i < 7; i++)
        {
            let c = 'card' + (i+1);
            document.getElementById(c).style.visibility = 'visible';
        }
        for(var i = 28; i < 35; i++)
        {
            let c = 'card' + (i+1);
            document.getElementById(c).style.visibility = 'visible';
        }
        <!-- set new -->
        for(var i = 0; i < d; i++)
        {
            let c = 'card' + (i+1);
            document.getElementById(c).style.visibility = 'hidden';
        }
        for(var i = (d2+d); i < 35; i++)
        {
            let c = 'card' + (i+1);
            document.getElementById(c).style.visibility = 'hidden';
        }
        <!-- add the day numbers -->
        for(var i = d; i < (d2+d); i++)
        {
            let c = 'card' + (i+1);
            document.getElementById(c).innerHTML = (i-d+1);
        }

        <!-- add the event info -->
        for(var i = d; i < (d2+d); i++)
        {
            let c = 'card' + (i+1);
            const myCard = document.getElementById(c);
            let myDate = new Date(y, m, (i-d))
            let length = <%=userEvents.length%>

            <%for (var j = 0; j < userEvents.length; j++){%>
                var eDate = new Date("<%=userEvents[j].eventtime%>");
                    
                    if((eDate.getFullYear() === myDate.getFullYear())
                    && (eDate.getMonth() === myDate.getMonth())
                    && (eDate.getDate() === myDate.getDate()))
                    {
                        var col = document.createElement("card");
                        //col.style.width="1rem";
                        //col.style.height="1rem";
                        col.style.backgroundColor="<%=userEvents[j].color%>";
                        col.style.color="#000000";
                        col.innerHTML = "<%=userEvents[j].eventname%>"
                        myCard.appendChild(col);
                    }
            <%}%>
        }
        
    }

    function updateMonth(next)
    {
        var currMonth = document.getElementById("myMonth").value;
        var currYear = document.getElementById("myYear").value;
        if(next)
        {
            currMonth += 1;
            if(currMonth > 11)
            {
                currMonth = 0;
                currYear += 1;
                document.getElementById("myYear").innerHTML = currYear;
                document.getElementById("myYear").value = currYear;
            }
        }
        else
        {
            currMonth -= 1;
            if(currMonth < 0)
            {
                currMonth = 11;
                currYear -= 1;
                document.getElementById("myYear").innerHTML = currYear;
                document.getElementById("myYear").value = currYear;
            }
        }
        document.getElementById("myMonth").innerHTML = monthNames[currMonth];
        document.getElementById("myMonth").value = currMonth;
        setDay();
    }
</script>

    <div class="container" style="width: 40rem;">
        <div class="row">
        <button type="button" class="btn btn-outline-primary" onclick="updateMonth(0)"> < </button>
        <h1 id="myMonth" value="0"> Month </h1> 
        <h1 id="myYear" value="0"> Year </h1>
        <button type="button" class="btn btn-outline-primary" onclick="updateMonth(1)"> > </button> 
        </div>
        <br>

        <div class="row">
            <div class="col"> Sunday </div>
            <div class="col"> Monday </div>
            <div class="col"> Tuesday </div>
            <div class="col"> Wednesday </div>
            <div class="col"> Thursday </div>
            <div class="col"> Friday </div>
            <div class="col"> Saturday </div>
        </div>

        <div class="row">
            <div class="card col" id="card1" style="min-height: 6rem; visibility:visible;"></div>
            <div class="card col" id="card2" style="min-height: 6rem;visibility:visible;"></div>
            <div class="card col" id="card3" style="min-height: 6rem;visibility:visible;"></div>
            <div class="card col" id="card4" style="min-height: 6rem;visibility:visible;"></div>
            <div class="card col" id="card5" style="min-height: 6rem;visibility:visible;"></div>
            <div class="card col" id="card6" style="min-height: 6rem; visibility:visible;"></div>
            <div class="card col" id="card7" style="min-height: 6rem; visibility:visible;"></div>
        </div>

        <div class="row">
            <div class="card col" id="card8" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card9" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card10" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card11" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card12" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card13" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card14" style="min-height:6rem; visibility:visible;"></div>
        </div>

        <div class="row">
            <div class="card col" id="card15" style=" min-height: 6rem; visibility:visible;"></div>
            <div class="card col" id="card16" style=" min-height: 6rem; visibility:visible;"></div>
            <div class="card col" id="card17" style=" min-height: 6rem; visibility:visible;"></div>
            <div class="card col" id="card18" style=" min-height: 6rem; visibility:visible;"></div>
            <div class="card col" id="card19" style=" min-height: 6rem; visibility:visible;"></div>
            <div class="card col" id="card20" style=" min-height: 6rem; visibility:visible;"></div>
            <div class="card col" id="card21" style=" min-height: 6rem; visibility:visible;"></div>
        </div>

        <div class="row">
            <div class="card col" id="card22" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card23" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card24" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card25" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card26" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card27" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card28" style="min-height:6rem; visibility:visible;"></div>
        </div>

        <div class="row">
            <div class="card col" id="card29" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card30" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card31" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card32" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card33" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card34" style="min-height:6rem; visibility:visible;"></div>
            <div class="card col" id="card35" style="min-height:6rem; visibility:visible;"></div>
        </div>
    </div>

  </div>


</main>

<%- include ('../partials/footer') %>