<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<%if(customData.imgbg_on == 1){%>
    <body style="background: <%=customData.imgbg%>; background-size: cover;">
<%}%>
<%if(customData.imgbg_on == 0){%>
    <body style="background-color: <%=customData.colbg%>;">
<%}%>

    <div class="row justify-content-center">

    <!-- Custom Options -->
    <div class="col-4">
        <!-- Customize Background -->
        <h2> Change your Background </h2>
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <h5>Background</h5>
                <!-- Color -->
                <div class="row">
                    <div class="col">
                        <form action="/customize/addColBG" method="post">
                        <button type = "submit" class="btn btn-primary" name = "colBG" id = "colBG"
                            onclick="changeBGColor()">Update Color</button>
                        </form>
                    </div>
                    <div class="col">
                        <input type="color" id="colBG_input" value="<%=customData.colbg%>"
                        style="width: 4rem; height: 4rem;"
                        >
                    </div>
                </div>
                <!-- Image -->
                <div class="row">
                    <div class="col">
                        <form action="/customize/addImgBG" method="post">
                        <button type = "submit" class="btn btn-primary" name = "imgBG" id = "imgBG" value="" onclick="changeBGImage()">Update Image</button>
                        </form>
                   </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="url" id = "imgBG_input" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Create Event Type -->
        <h2> Add an Event Type </h2>
        <div class="card" style="width: 24rem;">
            <div class="card-body">
            <form action="/customize/addEventType" method="post">
                <h5>Create New Event Type</h5>
                <!-- Name -->
                <div class="row">
                    <div class="col">
                        Event Name
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" name="eventTypeName" id = "eventTypeName" class="form-control">
                        </div>
                    </div>
                </div>
                <!-- Color -->
                <div class="row">
                    <div class="col">
                        Set Color
                    </div>
                    <div class="col">
                        <input type="color" name="eventTypeColor" id="eventTypeColor" value="<%=customData.colbg%>"
                        style="width: 4rem; height: 4rem;"
                        >
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type = "submit" class="btn btn-primary">Add New Event Type</button>
                </div>
            </form>
            </div>
        </div>

    <!-- end of col -->
    </div>

    <!-- Display Event Types -->
    <div class="col-4">
    <h2> Your Event Types </h2>
        <%for (var i = 0; i < eventTypes.length; i++){%>
            <div class="card">
                <div class="card-body">
                <div class="row justify-content-around">
                    <p><%= eventTypes[i].etypename %></p>
                    <div class="card" style="background-color:<%= eventTypes[i].color %>; width: 2rem; height:2rem"> </div>
                    <!--Delete Button-->
                    <form action = "/customize/etypeDel" method = "POST">
                        <input type="hidden" name = "etypeNum" value = "<%= eventTypes[i].etypenum %>">
                        <button type="submit" class="btn btn-primary">DELETE</button>
                    </form>
                </div>
                </div>
            </div>
        <%}%>
    </div>

    </div>




    <!-- Update the color -->
    <script>
        function changeBGColor()
        {
            let color = document.getElementById("colBG_input").value;
            document.body.style.background = "";
            document.body.style.backgroundColor = color;
            document.getElementById("colBG").value = color;
        }
    </script>
    <!-- update to an image -->
    <script>
        function changeBGImage()
        {
            let image = document.getElementById("imgBG_input").value;
            document.body.style.background = "url("+ image + ")";
            document.getElementById("imgBG").value = "url("+ image + ")";
        }
    </script>



<%- include ('../partials/footer') %>