<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

 <%if(customData.imgbg_on == 1){%>
        <body style="background: <%=customData.imgbg%>; background-size: cover;">
<%}%>
<%if(customData.imgbg_on == 0){%>
   <body style="background-color: <%=customData.colbg%>;">
<%}%>
<!--This is the page for adding events-->
<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>Add an event</h1>
    <!--Event Add Form-->
    <form action = '/eventAdd' method = 'POST'>
        <!--req.session.user.username, req.body.name, req.body.eventTime, req.body.warnTime, req.body.description-->
        <!--Username is provided by the session-->
        <!--Event Name-->
        <div class="form-group">
          <label for="name">Event Name</label>
          <input type="text" class="form-control" id="name" name = "name" maxlength = "50" aria-describedby="eventName" placeholder="Enter Event Name" required>
        </div>

        <!-- Event Type-->
        <div class="form-group">
        <label for="etype">Event Type:</label>
            <select name="eventType" id="eventType">
                <%for (var i = 0; i < eventType.length; i++){%>
    		        <option value=<%=eventType[i].etypenum%>> <%=eventType[i].etypename%> </option>
	            <%}%>   
            </select>
        </div>

        <!--Event Time-->
        <div class="form-group">
        <label for="eventTime">Event Date:</label>
        <input type="date" id="eventTime" name="eventTime" required>
        </div>

        <!--Warn Time-->
        <div class="form-group">
        <label for="eventTime">When do you want us to send an alert?</label>
        <input type="date" id="warnTime" name="warnTime" required>
      </div>

        <!--Description-->
        <div class="form-group">
          <label for="text">Description</label>
          <input type="text" class="form-control" id="description" name = "description" maxlength = "255" placeholder="Enter a description...">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>




    </form>
  </div>
</main>

<%- include ('../partials/footer') %>