<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%if(customData.imgbg_on == 1){%>
    <body style="background: <%=customData.imgbg%>; background-size: cover;">
<%}%>
<%if(customData.imgbg_on == 0){%>
    <body style="background-color: <%=customData.colbg%>;">
<%}%><!--This is the page for adding events-->
<!--This page requires some data to be provided, namely the userEvents list that is all of the user's events-->
<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1>My Events</h1>
    <!--Event Add Form-->
    <!--Error Display-->
    <% if (locals.message) { %>
      <div
        class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
        role="alert"
      >
        <%= message %>
      </div>
      <% } %>
    <!--Table-->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Event Name</th>
          <th scope="col">Event Type</th>
          <th scope="col">Event Time</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <!--Script for adding events-->
      <%for (var i = 0; i < userEvents.length; i++){%>
        <tr style="background-color: <%= userEvents[i].color%>">
          <th scope="row"><%= userEvents[i].eventname %></th>
          <td><%= userEvents[i].etypename %></td>
          <td><%= userEvents[i].eventtime %></td>
          <td><%= userEvents[i].eventdescription %></td>
          <td>
            <!--Delete Button-->
              <form action = "/eventDel" method = "POST">
                <input type="hidden" name = "eventName" value = "<%= userEvents[i].eventname %>">
                <input type="hidden" name = "eventNum" value = "<%= userEvents[i].eventnum %>">
                <button type="submit" class="btn btn-primary">DELETE</button>
              </form>
          </td>
        </tr>
      <%}%>
      <!--End Script for Adding Events-->
      </tbody>
    </table>


  </div>
</main>

<%- include ('../partials/footer') %>