<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


    <%if(customData.imgbg_on == 1){%>
        <body style="background: <%=customData.imgbg%>; background-size: cover;">
    <%}%>
    <%if(customData.imgbg_on == 0){%>
        <body style="background-color: <%=customData.colbg%>;">
    <%}%>
  
<!-- first in the top left, will greet the user with their username. -->
<h1>Welcome, <%=username %>!</h1>


<!--Show number of urgent events-->
<%const date = new Date();%>
<p>The current date is <%=date%></p>
<p>You currently have <%=userEvents.length %> urgent events!</p>


<!-- then, will show urgent events-->
<h1>Urgent Events:</h1>
<!--Table-->
<table class="table">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Event Type</th>
        <th scope="col">Event Time</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <!--Script for adding events-->
    
    <%for (var i = 0; i < userEvents.length; i++){%>
      <tr style="background-color: <%= userEvents[i].color%>">
          <th scope="row"><%= userEvents[i].eventname %></th>
          <td><%= userEvents[i].etypename %></td>
          <td><%= userEvents[i].eventtime %></td>
          <td><%= userEvents[i].eventdescription %></td>
          <td>
            <!--Delete Button-->
              <form action = "/eventDel" method = "POST">
                <input type="hidden" name = "eventName" value = "<%= userEvents[i].eventname %>">
                <input type="hidden" name = "eventNum" value = "<%= userEvents[i].eventnum %>">
                <button type="submit" class="btn btn-primary">DELETE</button>
              </form>
          </td>
        </tr>
    <%}%>
    <!--End Script for Adding Events-->
    </tbody>
  </table>
</body>

<script>
  //Notification Script
  
 var notificationString = "";
 var ndate = new Date();
 //date.setHours(0,0,0,0);
 var date = ndate.toString().substring(4, 16);
 
 //forloop to loop through events. 
<% for (var i = 0; i <  userEvents.length ; i++) { %>

  //next 4 lines of code get data from the database then converts to .js vars
  <% var warn =  userEvents[i].warntime; %> 
  <% var edate = userEvents[i].eventtime %>
  var edate = "<%= edate %>";
  var getwarn = "<%= warn %>";
  
  //simplifies the date to day not time or timezone. 
  var eventDate = edate.toString().substring(4, 16);
  var warn = getwarn.toString().substring(4, 16);
  
  //logs for comparing dates and bool return
  console.log(date);
  console.log(warn == date);
  console.log(warn);
  if(warn == date){ 
    //adds to the body of the notification if the warn date is today
    notificationString +=  (<%= i %>+1) + ": <%= userEvents[i].eventname %>, " + "Date: " + eventDate + "\n"; 
  }
 <%}%> 

//Notification Permissions
console.log(Notification.permission);

//creates the data for the notification
const options = {

  body: notificationString,
  //purpose of tag is to only send 1 notification then it will update. 
  tag: "reminder",
} 

if(Notification.permission == "granted") {
  //alert("permission granted");
  //create a notification
  
  const notification = new Notification("Events Soon", options);
}
else if(Notification.permission != "permission denied") {
  Notification.requestPermission().then(permission => {
    console.log(permission);

    if(Notification.permission == "granted") {
      //creates notification once they allow notifications. 
      const nnotification = new Notification("Events Soon", options);
    }
  });
}
</script>

<%- include ('../partials/footer') %>