<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


    <%if(customData.imgbg_on == 1){%>
        <body style="background: <%=customData.imgbg%>; background-size: cover;">
    <%}%>
    <%if(customData.imgbg_on == 0){%>
        <body style="background-color: <%=customData.colbg%>;">
    <%}%>
  
<p>test text</p>

<!-- first in the top left, will greet the user with their username. -->

<!-- then, will show curr events for the day.-->

<!-- need to brainstorm other things to show-->
</body>

<%- include ('../partials/footer') %>